.main {
    width: 70%;
    background-color: rgb(120, 176, 202);
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
}

section {
    width: 65%;
    background-color: lightgray;
    border: solid 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

section,
.main {
    padding: 5px;
    box-sizing: content-box;
    border-radius: 7px;

}

.go {
    text-align: center;
    color: lightgray;
}

.go a {
    text-decoration: none;
    color: black;
}

.go a:hover {
    color: lightgray;
}

ul {
    height: 30px;
    display: flex;
    background-color: lightgray;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

li {
    margin: auto;
}

ul a {
    text-decoration: none;
    color: black;
}

ul a:hover {
    color: rgb(13, 174, 248);
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

button {
    background-color: lightgray;
    color: rgb(120, 176, 202);
    border: solid 1px black;
    border-radius: 5px;
    display: flex;
    margin-left: auto;
    margin-right: auto;

}

button:hover {
    background-color: rgb(120, 176, 202);
    color: lightgray;
}